div.container
  p.warning
    =env['warning']
  p.error
    =env['error']
  form#login.login
    dl
      dt 
        =I18n.t('username')
      dd
        input type='text'
      dt 
        =I18n.t('password')
      dd
        input type='password'
