form.update {
  float: left;
  input {
    background: none;
    cursor: pointer;
    border: none;
  }
}

form.delete {
  display: inline;
  input {
    background: none;
    cursor: pointer;
    border: none;
  }
}

form.login {
  width: 100%;
  dt, dd {
    clear: none;
    display: block;
    margin: 1px;
    margin-left: 20px;
    padding: 2px;
    text-align:center;
  }
}

.button {
  @include button($infinity-orange, #fff);
}

.delete {
  @include delete-button(#fff, $infinity-orange);
}

.update {
  @include update-button(#fff, #fff);
}

input.link {
  display: inline;
  background: none;
  cursor: pointer;
  border: none;
  margin: 0px;
  padding: 0px;
  color: $gray;
}
input.link:hover {
  color: $infinity-orange;
}
