ul.nav
  li
    a href='/' 1
  li
    a href='/' 2
  li
    a href='/' 3
  li
    a href='/' 4

ul.session
  -if true #env['warden'].authenticated?
    li
      form action="/session" method="POST"
        input type="hidden" name="_method" value="DELETE"
        input.link type="submit" value="Logout" 
  -else
    li
      a href='/session/new' Login
