doctype html
html
  head
    meta charset="utf-8"
    title Planning Manager
    link rel="shortcut icon" href="/images/favicon.ico"
    link rel="stylesheet" media="screen, projection" href="/stylesheets/style.css"
    /[if lt IE 9] 
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"

  body
    header
      h1.logo Planning Manager
      div.navigation.logo
        ==partial 'shared/nav'

    ==content
